*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

main{
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
}

.card{
    text-align: center;
    border: 1px solid burlywood;
    height: auto;
    width: 162px;
    background-color: white;
    margin: 8px;
}

.imgDoCard{
    width: 160px;
    height: 160px;
}

footer{
    background-color: burlywood;
}